#chat {
  width: 100%;
  height: fit-content;
  padding: 30px 0 0;
}

.chat {
  width: 970px;
  padding: 0 15px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 60px;
}

.chat-text {
  flex: 1;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.chat-text h3 {
  width: 330px;
  font-size: 32px;
  margin-bottom: 22px;
  font-weight: 700;
  position: relative;
}

.chat-text h3::after {
  content: "";
  width: 105%;
  height: 20px;
  background-color: #a5e4bfae;
  position: absolute;
  bottom: -5px;
  left: -10px;
  z-index: -1;
}

.chat-text p {
  width: 330px;
  font-size: 16px;
  opacity: 0.75;
  line-height: 1.8rem;
}

.chat-image {
  flex: 1;
}

.chat-image img {
  width: 100%;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}

@media (max-width: 1400px) {
  .chat {
    width: 815px;
    gap: 0px;
  }

  .chat-text {
    flex: none;
    padding-top: 0;
    margin: 0 75px 68px 0;
  }
}

@media (max-width: 991px) {
  .chat {
    width: 660px;
    flex-direction: column;
    gap: 68px;
  }

  .chat-text {
    margin: 0;
  }

  .chat-text h3 {
    width: 100%;
  }

  .chat-text p {
    width: 390px;
    margin: auto;
  }

  .chat-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .chat-image img {
    width: 450px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .chat {
    width: 500px;
  }

  .chat-text {
    width: 100%;
    align-items: center;
  }

  .chat-text h3 {
    width: 390px;
  }

  .chat-image img {
    width: 390px;
  }
}

@media (max-width: 550px) {
  .chat {
    width: 100%;
  }

  .chat-text {
    width: 100%;
    align-items: center;
  }

  .chat-text h3 {
    width: 100%;
  }

  .chat-text p {
    width: 100%;
  }

  .chat-image img {
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}
