footer {
  height: fit-content;
  background-color: #292d33;
  padding: 90px 0 140px;
}

.footer-container {
  width: 970px;
  margin: auto;
}

.footer-container .footer-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
}

.footer-1 {
  display: flex;
  gap: 10px;
}

.footer-1 div {
  flex: 1;
}

.footer-1-el1 p:nth-child(1),
.footer-1-el2 p:nth-child(1),
.footer-1-el3 p:nth-child(1) {
  width: fit-content;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 16px;
  position: relative;
  z-index: 9;
  color: #f7cd56;
}

.footer-1-el1 p:nth-child(1)::after,
.footer-1-el2 p:nth-child(1)::after,
.footer-1-el3 p:nth-child(1)::after {
  content: "";
  width: 120%;
  height: 70%;
  position: absolute;
  bottom: -40%;
  left: -6%;
  z-index: -1;
  background-color: #f7cc5647;
}

.footer-1-el2 p:nth-child(1) {
  color: #ee5495;
}

.footer-1-el2 p:nth-child(1)::after {
  background-color: #ee549442;
}

.footer-1-el3 p:nth-child(1) {
  color: #8ecea8;
}

.footer-1-el3 p:nth-child(1)::after {
  background-color: #8ecea849;
}

.footer-1-el1 p:nth-child(2),
.footer-1-el2 p:nth-child(2),
.footer-1-el3 p:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  color: #98a2a9;
}

.footer-2 {
  flex: 1;
  display: flex;
}

.footer-2 p {
  color: #8e979e;
  font-weight: 700;
  font-size: 16px;
  width: 320px;
  margin-top: 80px;
}

.footer-sq {
  width: 570px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sq-1,
.sq-2 {
  width: 80px;
  height: 80px;
  position: relative;
  background-color: #ee5495;
}

.sq-1::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #f7cd56;
  top: -100%;
  right: -100%;
}

.sq-2 {
  background-color: #8ecea8;
}

.sq-2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #9caed8;
  bottom: -100%;
  right: -100%;
}

@media (max-width: 1400px) {
  .footer-container {
    width: 785px;
  }

  .footer-sq {
    width: 550px;
  }
}

@media (max-width: 991px) {
  footer {
    height: fit-content;
    background-color: #292d33;
    padding: 30px 0 140px;
  }

  .footer-container {
    width: 660px;
  }

  .footer-container .footer-box {
    flex-direction: row;
  }

  .footer-1 {
    flex-direction: column;
    flex: 1;
  }

  .footer-2 {
    flex-direction: column;
  }

  .footer-1 > div {
    margin: 70px 80px 0 0;
  }
}

@media (max-width: 768px) {
  .footer-container {
    width: 660px;
  }

  .footer-container .footer-box {
    flex-direction: column;
    align-items: center;
  }

  .footer-2 {
    width: 373px;
    margin-right: 80px;
    flex-direction: row;
    gap: 50px;
    justify-content: flex-start;
  }

  .footer-2 p {
    width: fit-content;
  }

  .footer-sq {
    scale: 0.7;
  }
}

@media (max-width: 550px) {
  footer {
    padding-bottom: 40px;
  }

  .footer-container {
    width: 100%;
    padding: 15px;
  }

  .footer-container .footer-box {
    margin-bottom: 50px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-1 {
    align-items: flex-start;
  }

  .footer-2 {
    width: 100%;
    margin-right: 0;
    gap: 50px;
  }

  .footer-sq {
    width: 100%;
    margin: 0;
    position: relative;
    left: -10%;
  }

  .sq-1,
  .sq-2 {
    scale: 0.6;
  }
}
